body {
    margin: 0;
}
.chatbot_container {
    display: flex;
}

/* Sidebar */
.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.408);
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: none;
}
.overlay.active {
    display: block;
}

.sidebar {
    background-color: rgb(128, 106, 106);
    height: 100vh;
    width: 230px;
    z-index: 2;
    position: absolute;
    left: -180px;
    transition: 0.5s ease;
}
.sidebar.open {
    left: 0px;
}
.sidebar_header_section_1 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px;
    justify-content: space-between;
}
.sidebar_open_button button {
    border: none;
    background: inherit;
    padding: 0;
}
#sidebar_open_btn_img {
    width: 35px;
    transition: 0.5s ease;
}
#sidebar_open_btn_img.rotate {
    transform: rotate(360deg);
}
.sidebar_button_mobile {
    display: none;
}

@media (max-width: 500px) {
    .sidebar {
        margin-left: -220px;
    }
}

.main_content {
    background-color: brown;
    height: 100vh;
    width: 100vw;
    margin-left: 40px;
    transition: 0.5s ease;
}
.main_content.sidebar_active {
    margin-left: 220px;
}