* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.chatbot_container {
    display: flex;
}

/* Sidebar */
.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.408);
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: none;
}
.overlay.active {
    display: block;
}

.sidebar {
    background: rgb(80, 80, 80);
    height: 100vh;
    width: 220px;
    z-index: 2;
    position: absolute;
    left: -180px;
    transition: 0.5s ease;
}
.sidebar.open {
    left: 0px;
}
.sidebar_header_section_1 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(129, 127, 127);
}
.sidebar_title img{
    width: 30px;
    padding-left: 5px;
}
.sidebar_button {
    border: none;
    background: inherit;
    padding: 0;
}
.sidebar_open_btn_img {
    cursor: pointer;
    width: 30px;
    transition: 0.5s ease;
}
.sidebar_open_btn_img.rotate {
    transform: rotate(360deg);
}
.sidebar_button.m {
    display: none;
}

@media (max-width: 500px) {
    .sidebar {
        margin-left: -50px;
    }
    .sidebar.open {
        left: 50px;
    }
}

.main_content {
    background-color: brown;
    height: 100vh;
    width: 100vw;
    margin-left: 40px;
    transition: 0.5s ease;
}
.main_content.sidebar_active {
    margin-left: 220px;
}

.main_content_header {
    width: 100%;
    height: 45px;
    background: rgb(13, 201, 54);
}
.main_content_header.section1 {
    padding: 0px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}





@media (max-width: 500px) {
    .main_content {
        margin-left: 0px;
    }
    .sidebar_button.m {
        display: block;
    }
    .main_content.sidebar_active {
    margin-left: 0px;
    }
}