* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body.main_page, html {
    margin: 0;
    padding: 0;
    height: 100dvh;
    font-family: Arial, Helvetica, sans-serif;
}
.chatbot_container {
    display: flex;
    overflow: hidden;
    max-height: 100dvh;
}

/* Sidebar */

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.408);
    z-index: 1;
    width: 100vw;
    height: 100dvh;
    display: none;
}
.overlay.active {
    display: block;
}

.sidebar {
    background: rgb(48, 48, 48);
    height: 100dvh;
    width: 220px;
    z-index: 2;
    position: absolute;
    left: -180px;
    transition: left 0.5s ease;
}
.sidebar.open {
    left: 0px;
}
.sidebar_header_section_1 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px;
    justify-content: space-between;

}
.sidebar_title img{
    width: 30px;
    padding-left: 5px;
}
.sidebar_button {
    border: none;
    background: inherit;
    padding: 0;
}
.sidebar_open_btn_img {
    cursor: pointer;
    width: 30px;
    transition: 0.5s ease;
}
.sidebar_open_btn_img.rotate {
    transform: rotate(360deg);
}
.sidebar_button.m {
    display: none;
}

@media (max-width: 500px) {
    .sidebar {
        margin-left: -50px;
    }
    .sidebar.open {
        left: 50px;
    }
}
.chat_history {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    border-bottom: 1px solid rgb(126, 120, 120);
    box-shadow: -1px 2px 1px 1px rgb(126, 120, 120);
    color:  white;
}
.chat_history h2 {
    font-size: 15px;
}

/* Session option*/

.userSsession {
    display: flex;
    opacity: 0;
    flex-direction: column;
    max-height: 80%;
    border-bottom: 1px solid rgb(113, 113, 113);
    transition: all 0.5s ease;
}
.userSsession.active {
    opacity: 1;
}
.new_session_button {
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-top: 2px;
    width: 30px;
    font-size: 30px;
    background: inherit;
    border: none;
    background: rgb(126, 120, 120);
    border-bottom-left-radius: 10px;
}
.new_session_button:hover {
    scale: 1.1;
}
.session_options {
    display: flex;
    flex-direction: column;
    justify-content: left;
    overflow: auto;
    padding-top: 10px;
    min-height: 200px;
}
.session_options::-webkit-scrollbar {
    width: 10px;
}
.session_options::-webkit-scrollbar-track {
    background: transparent;
    margin: 5px;
}
.session_options::-webkit-scrollbar-thumb {
    background-color: rgb(93, 95, 95);
    border-radius: 20px;
}
.session_options_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
}
.session_options_container:hover{
    background: rgb(126, 120, 120);
}
.session_buttons {
    color: white;
    display: flex;
    font-family: sans-serif;
    padding: 10px;
    padding-left: 20px;
    font-size: 16px;
    background: inherit;
    border: none;
    margin: 2px;
    cursor: pointer;
}
.session_buttons.active {
    background-color: rgb(32, 220, 154);
    border-radius: 10px;
}

.session_buttons_options {
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    padding: 10px;
    padding-left: 20px;
    font-size: 16px;
    background: inherit;
    border: none;
    margin: 2px;
}
.session_buttons_options_window {
    display: flex;
    height: 50px;
    padding: 10px;
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius: 10px;
    background: rgb(163, 155, 155);
    z-index: 2;
}
.session_buttons_options_window button {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    font-family: sans-serif;
    font-size: 13px;
}
.session_buttons_options_window button:hover {
    scale: 1.1;
}
.session_buttons_options_window button img {
    width: 20px;
}

/* Main Content */

.main_content {
    background: rgb(193, 246, 243);
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100vw;
    padding-left: 40px;
    transition: padding-left 0.5s ease;
}
.main_content.sidebar_active {
    padding-left: 220px;
}

.main_content_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    background: rgb(215, 247, 222);
    border-bottom: 1px solid rgba(0, 0, 0, 0.311);
}
.main_content_header_section1 {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
}

.main_content_header_section2 {
    margin: 10px;
    background-color: rgb(116, 115, 115);
    border: 3px solid rgb(63, 64, 63);
    border-radius: 50%;
}
.main_content_header_section2 img {
    width: 30px;
}
@media (max-width: 500px) {
    .main_content {
        padding-left: 0px;
    }
    .sidebar_button.m {
        display: block;
    }
    .main_content.sidebar_active {
    padding-left: 0px;
    }
}

/* User Section*/

.user_options_overlay {
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.479);
    position: absolute;
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    display: none;
}
.user_options_overlay.active {
    display: block;
}

.user_options {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


    width: 250px;
    height: 350px;

    display: none;
    flex-direction: column;
    justify-content: center;


    background-color: rgb(75, 75, 75);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(91, 90, 90, 0.584);
    gap: 10px;
    z-index: 4;
}
.user_options.active {
    display: flex;
}
.user_options button {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 150px;
    padding: 5px;
    font-size: 15px;
    font-family: sans-serif;
    border-radius: 14px;
    border: none;
    background-color: rgb(140, 226, 222);
    cursor: pointer;

}
.user_options button:hover {
    transform: scale(1.1)
}
.user_options h2 {
    display: flex;
    justify-content: center;
    color:  white;
}

/* Profile */

.profile {
    position: fixed;
    display: none;
    flex-direction: column;
    width: 300px;
    height: 350px;
    top: 5%;
    right: 3%;
    border-radius: 10px;
    background: rgb(70, 83, 87);
}
.profile.show {
    display: flex;
}
.profile_picture {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.profile_picture h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 50px;
    width: 50px;;
    background-color: rgb(81, 121, 96);
    border-radius: 50%;
    border: 4px solid rgb(132, 224, 220);
}

.user_mail {
    display: flex;
    justify-content: center;
}
.user_mail h5 {
    font-weight: 500;
    color: white;
}

.log_out {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin: 20px;
    padding: 10px;
    color:  white;
    background: rgb(33, 33, 33);
    height: 200px;
    border-radius: 10px;
}
.logout_button {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background: rgb(181, 178, 178);
    border-radius: 20px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.logout_button img {
    width: 30px;
}
.logout_button img:hover {
    scale: 1.1;
}
/* Chat Container */

.chat_container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex: 1;
}
.chat_box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    width: 800px;
    overflow-y: auto;
    padding: 5px;
    box-sizing: content-box;

}
.chat_box::-webkit-scrollbar {
    width: 10px;
}
.chat_box::-webkit-scrollbar-track {
    background: transparent;
    margin: 5px;
}
.chat_box::-webkit-scrollbar-thumb {
    background: rgba(98, 98, 98, 0.303);
    border-radius: 20px;
}

/* Message Section */

.message {
    font-family: Verdana, sans-serif;
    font-size: 17px;
    border-radius: 12px;
    padding: 12px;
    margin: 5px;
    box-shadow: 1px 5px 10px 0px rgb(106, 112, 106);
    white-space: pre-wrap;
    word-break: break-all;
}
.message.user {
    background: rgb(10, 238, 207);
    display: inline-block;
    justify-content: end;
    width: 65%;
    align-self: flex-end;
}
.message.bot {
    background: rgb(236, 208, 158);
}
.BotResponse.Code {
    background: rgb(35, 36, 36);
    color: white;
    overflow-y: auto;
    padding: 10px;
}
code::-webkit-scrollbar {
    height: 10px;
}
code::-webkit-scrollbar-thumb {
    background-color: rgba(91, 91, 92, 0.662);
    border-radius: 10px;
}
@media (max-width: 500px) {
    .BotResponse.Code {
        font-size: 12px;
    }
}
.BotResponse.Header {
    font-size: 20px;
}

.BotResponse.List {
    margin-left: 20px;
}

/* Input Section */

.message_input {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.input_wrapper {
    display: flex;
    background: white;
    border-radius: 20px;
    overflow: auto;
    border: 3px solid rgba(173, 173, 173, 0.37);
}
#UserInput {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    max-height: 250px;
    min-height: 40px;
    width: 770px;
    resize: none;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 15px;
    margin-left: 30px;
    padding: 20px;
    border: none;
}
#UserInput:focus {
    outline: none;
}
#UserInput::-webkit-scrollbar {
    width: 0;
}
#SendButton {
    display: flex;
    cursor: pointer;
    max-height: 30px;
    border: none;
    margin: 5px;
    background: none;
}
#SendButton img {
    width: 30px;
    border: none;
}
#SendButton:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}